:root {
  --charcoal: #282c34;
  --ocean-blue: #61dafb;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--ocean-blue);
}

.title {
  text-align: center;
  color: var(--charcoal);
  font-size: 45px;
  margin-bottom: 15px;
}

.user-card {
  width: 20rem;
}

.contact-link {
  color: inherit;
}
